body {
padding-top: 15%;
padding-bottom: 15%;
padding-top: 0px;
height: 100%; 
}

form {
text-align: center;
padding-top: 2%;
}

.header {
color: black;
font-size: 22pt;
text-align:  center;
}

textarea {
width: 600px;
    height: 100px;
}