body {
padding-top: 15%;
padding-bottom: 15%;
padding-top: 0px;
height: 100%; 
}

.header {
color: black;
font-size: 24pt;
text-align:  center;
    margin-right: 12.5%;
    margin-left: -12.5%;
}

.field {
clear:both; 
text-align:right; 
line-height:25px;
}


.main {
float:left;
}

.button {
clear:both; 
text-align:center; 
line-height:30px;
}

label {
float:left; 
padding-right:5px;
font-size: 16pt;
text-shadow: white 0 0 5px;
}

form {
margin-top: 0px;
margin-right: 40%;
margin-left: 40%;
margin-bottom: 200px;
text-align: center;
width: 500px;
padding: 10px;
}