body {
padding-top: 15%;
padding-bottom: 15%;
padding-top: 0px;
height: 100%; 
}

.shell {
text-align: center;
padding-top: 20%;
}

.header {
color: black;
font-size: 22pt;
text-align:  center;
}

a {
text-decoration: none;
color: black;
}